<%= form_with(model: widget_home, local: true) do |form| %>
  <% if widget_home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(widget_home.errors.count, "error") %> prohibited this widget_home from being saved:</h2>

      <ul>
      <% widget_home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width, id: :widget_home_width %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, id: :widget_home_height %>
  </div>

  <div class="field">
    <%= form.label :background_color %>
    <%= form.text_field :background_color, id: :widget_home_background_color %>
  </div>

  <div class="field">
    <%= form.label :widget_id %>
    <%= form.text_field :widget_id, id: :widget_home_widget_id %>
  </div>

  <div class="field">
    <%= form.label :home_id %>
    <%= form.text_field :home_id, id: :widget_home_home_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
