<p id="notice"><%= notice %></p>

<h1>Widget_homes</h1>

<table>
  <thead>
    <tr>
      <th>Width</th>
      <th>Height</th>
      <th>Widget</th>
      <th>Home</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widget_homes.each do |widget_home| %>
      <tr>
        <td><%= widget_home.width %></td>
        <td><%= widget_home.height %></td>
        <td><%= widget_home.widget %></td>
        <td><%= widget_home.home %></td>
        <td><%= link_to 'Show', widget_home %></td>
        <td><%= link_to 'Edit', edit_widget_home_path(widget_home) %></td>
        <td><%= link_to 'Destroy', widget_home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget_home', new_widget_home_path %>
