<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @widget_home.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @widget_home.height %>
</p>

<p>
  <strong>Widget:</strong>
  <%= @widget_home.widget %>
</p>

<p>
  <strong>Home:</strong>
  <%= @widget_home.home %>
</p>

<%= link_to 'Edit', edit_widget_home_path(@widget_home) %> |
<%= link_to 'Back', widget_homes_path %>
