<div class="col s<%= width %>">
  <div class="widget  <%= color %>" style="color: <%= color %>">
    <%= link_to widget_home, method: :delete, data: { confirm: 'Are you sure?' }, class: "close-btn right" do %>
      &#10006;
    <% end %>

    <header class="<%= color %>">
      <center>
        <h3>

        </h3>
      </center>
    </header>

    <%= render partial: "widgets/#{widget}" %>

  </div>

</div>
