<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @home.model %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @home.nome %>
</p>

<div class="row">
  <% @home.widget_home.each do |widget_home| %>
    <%= render partial: "widgets/widget", locals: { widget_home: widget_home, width: widget_home.width, color: widget_home.background_color, widget: widget_home.widget.nome.downcase } %>
  <% end %>
</div>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
