div .widget{
  overflow: hidden;
  box-shadow: 5px 5px 5px #888;
  padding: 2%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.widget p, h1, h2, h3, h4, h5, h6, span{
  // color: #fff;
  // mix-blend-mode: difference;
  // filter: contrast(100%);
  filter: brightness(900%) grayscale(100%) invert(100%) brightness(150%) grayscale(100%) contrast(300%);
}

.widget a:hover{
  background-color: transparent;
}

.widget .close-btn{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: none;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
  mix-blend-mode: difference;
  mix-blend-mode: exclusion;
  filter: brightness(900%) grayscale(100%) brightness(150%) grayscale(100%) contrast(300%);
}
